{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'website/css/images/favicon.png' %}">
	{% block css_block %}
	{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	  <script type="text/javascript" src="{% static 'website/js/jquery-2.2.3.min.js' %}"></script>
  {% block head_js_block %}
  {% endblock %}
		
  </head>

  <body>

<!--   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MapMob</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </nav> -->



	{% block body_block %}
	{% endblock %}

	{% block modal_block %}
	{% endblock %}

  </body>

  <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>	
	{% block js_block %}
	{% endblock %}
  <script>

/*   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', '', 'auto');
   ga('send', 'pageview');*/

  </script>

</html>
