{% load bootstrap_tags %}

<!-- Content -->
<div class="fadein">

    <div id="map"></div>

    <form id="drawNeighborhoodForm" method="post" action=".">
        <div class="container-fluid absolutePostionedDiv">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                    <h3 class="headingBackground">
                        This is a simplified drawing of what the city thinks your neighborhood looks like. Don't agree? Click the handles or edges to reshape the polygon to what you think the neighborhood boundaries are.
                    </h3>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <h4 class="headingBackground pull-right">2/5</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-2">
                    <div class="touch marginTop5 invisible">
                        {{ form|as_bootstrap }}
                        {{ form.errors }}                 
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">    
            <div class="row">
                <div class="col-sm-3 col-sm-offset-2 bottomButtonGroupMap">
                    <button id="backNeighborhoodMap" class="btn btn-default" type="submit">Back</button>
                    <button id="nextNameNeighborhood" class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    var objectID = "{{ NYURespondentsObject.id }}";
    var objectMyNeighborhood = "{{ NYURespondentsObject.myNeighborhood }}";
    $( document ).ready(function() {
        window.setTimeout(function() {
            mapDrawNeighborhood.initialize();
        }, 1);
    });
</script>
	

