
<div class="fadein">

    <ul id="background">
      <li></li>
    </ul> 

    <!-- Content -->
    <div class="container-fluid">
        <div id="mainContent">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="forceBlock">
                        <h3 class="headingBackground">
                            This is the place for some introductory text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </h3>
                    </div>
                    <button id="nextPickNeighborhood" class="btn btn-primary" type="submit">Let's Get Started!</button>
                </div>
            </div>
        </div>
    </div>

</div>