<!-- Content -->
<div class="fadein">

    <div id="map"></div>

    <form id="knowBestPlacesForm" method="post" action=".">
        <div class="container-fluid absolutePostionedDiv">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                    <h3 class="headingBackground">
                        Where in the city do you spend most of your time? Please drag circles to where you spend your time and click one where you spend most of your time.
                    </h3>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <h4 class="headingBackground pull-right">4/5</h4>
                </div>               
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="invisible">
                        {{ form }}
                        {{ form.errors }}                 
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">    
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 bottomButtonGroupMap">
                    <button id="backNameNeighborhood" class="btn btn-default" type="submit">Back</button>
                    <button id="addAnotherCircle" class="btn btn-danger">Add Another Circle!</button>
                    <button id="nextknowBestSurveyQuestions" class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    var objectID = "{{ NYURespondentsObject.id }}";
    // switching to the same neighborhood folks picked for the first set of survey qusstions
    var objectKnowBestNeighborhood = "{{ NYURespondentsObject.myNeighborhood }}";
    $( document ).ready(function() {
        window.setTimeout(function() {
            mapKnowBest.initialize();
        }, 1);
    });
</script>
	

