<!-- Content -->
<div class="fadein">

    <div id="map"></div>

    <form id="knowBestPlacesForm" method="post" action=".">
        <div class="container-fluid absolutePostionedDiv">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <h2 class="headingBackground">
                        Drag a circle over where you know best.
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="invisible">
                        {{ form }}
                        {{ form.errors }}                 
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">    
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 bottomButtonGroupMap">
                    <button id="backSurveyQuestions" class="btn btn-default" type="submit">Back</button>
                    <button id="addAnotherCircle" class="btn btn-danger">Add Another Circle!</button>
                    <button id="nextknowBestSurveyQuestions" class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    var objectID = "{{ NYURespondentsObject.id }}";
    var objectKnowBestNeighborhood = "{{ NYURespondentsObject.knowBestNeighborhood }}";
    $( document ).ready(function() {
        window.setTimeout(function() {
            mapKnowBest.initialize();
        }, 1);
    });
</script>
	

