<!-- Content -->
<div class="fadein">

    <form id="surveyQuestionsForm" method="post" action=".">
        <div class="container-fluid">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-sm-offset-2">
                    <div class="forceBlock">
                        <h2 class="headingBackground">
                            People in {{ NYURespondentsObject.myNeighborhood }}...
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="hidden">
                        {{ form }}
                        {{ form.errors }}                 
                    </div>
                </div>
            </div>
            <!-- Sliders -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Litter.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ1"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never <span class="pull-right">All the Time</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Allow their children (under 16) to walk to school by themselves.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ2"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never <span class="pull-right">All the Time</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Smoke marijuana in public.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ3"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never <span class="pull-right">All the Time</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Relax in front of their homes or apartments.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ4"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never <span class="pull-right">All the Time</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Vape tobacco or marijuana in public.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ5"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never <span class="pull-right">All the Time</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-sm-offset-2">
                    <div class="forceBlock">
                        <h2 class="headingBackground">
                            It’s acceptable in {{ NYURespondentsObject.myNeighborhood }} to...
                        </h2>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Litter.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ6"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never Acceptable <span class="pull-right">Completely Acceptable</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Allow their children (under 16) to walk to school by themselves.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ7"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never Acceptable <span class="pull-right">Completely Acceptable</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Smoke marijuana in public.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ8"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never Acceptable <span class="pull-right">Completely Acceptable</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Relax in front of their homes or apartments.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ9"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never Acceptable <span class="pull-right">Completely Acceptable</span></p>         
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="marginTop20">
                        <h3>Vape tobacco or marijuana in public.</h3>          
                    </div>
                    <div class="marginTop5">
                        <div id="sliderQ10"></div>          
                    </div>
                    <div class="marginTop5 marginBottom20">
                        <p>Never Acceptable <span class="pull-right">Completely Acceptable</span></p>         
                    </div>
                </div>
            </div>                       
        </div>
        <div class="container-fluid">    
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 marginBottom20">
                    <button id="backNeighborhoodMap" class="btn btn-default" type="submit">Back</button>
                    <button id="nextWhereIGo" class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    var objectID = "{{ NYURespondentsObject.id }}";
    $( document ).ready(function() {
        window.setTimeout(function() {
            surveyQuestionsD3Sliders.initialize();
        }, 1); 
    });    
</script>
	

